.container {
    display: inline-block;
    width: 100%;
}

.bg-blue {
    background-color: #03A9F5;
}

/****************
* Hero
****************/
.hero {
    display: inline-block;
    width: 600px;
    margin: 60px calc((100% - 600px) / 2) 30px;
    text-align: center;
}
    .container.bg-img {
        height: 100vh;
        background-image: url(../img/banner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
        background-attachment: fixed;
    }
    .hero > img {
        display: inline-block;
        margin-bottom: 40px;
    }
    .hero > h1 {
        display: inline-block;
        width: 100%;
        font-size: 75px;
        line-height: 80px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    .hero > p {
        display: inline-block;
        color: #B3B2B7;
        width: 100%;
        margin-bottom: 60px;
        font-size: 23px;
        line-height: 28px;
    }
    .hero > .clock {
        display: inline-block;
        width: 100%;
        margin-bottom: 60px;
    }
    .hero > form {
        display: inline-block;
        width: 90%;
        margin: 0 5% 20px;
    }
    .hero > .mouse {
        display: inline-block;
    }

/****************
* Main Content
****************/
.content {
    display: inline-block;
    width: 1100px;
    margin: 60px calc((100% - 1100px) / 2);
}
    .content > .left {
        display: inline-block;
        width: 50%;
        float: left;

    }
    .progress-bar-value {
        background-color: #00A0F4;
    }
    .content > .right {
        display: inline-block;
        width: 40%;
        float: right;
    }
    .content h3 {
        display: inline-block;
        width: 100%;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    .content p {
        display: inline-block;
        width: 100%;
        margin-bottom: 30px;
        font-size: 16px;
        line-height: 22px;
    }
    .content p > a {
        color: red;
        text-decoration: none;
    }


/****************
* Footer
****************/
.footer {
    display: inline-block;
    width: 1100px;
    margin: 0 calc((100% - 1100px) / 2);
    text-align: center;
}
    .footer > .btn {
        position: relative;
        top: -30px;
        right: -500px;
    }
    .footer > .socials {
        display: inline-block;
        width: 100%;
        padding-bottom: 20px;
        border-bottom: 1px solid #1FB2F5;
    
    }
        .footer > .socials > a {
            display: inline-block;
            width: 40px;
            color: #FFF;
            font-size: 20px;
            line-height: 20px;
            text-decoration: none;
            padding: 10px;
        }
        .footer > .socials > a:hover {
            background-color: #FFF;
            color: #03A9F4;
            border-radius: 50%;
        }

    .footer > .footer-content {
        display: inline-block;
        width: 600px;
        margin: 10px calc((100% - 600px) / 2) 0;
        color: #fffa;
        font-size: 16px;
        line-height: 32px;
    }
    .footer > .footer-content a {
        display: inline-block;
        color: #fff;
    }
    .footer > .footer-content > img {
        display: inline-block;
        margin-bottom: 10px;
    }
    .footer > .footer-content > div {
        display: inline-block;
        width: 100%;
        line-height: 16px;
    }
    .footer span {
        display: inline-block;
    }
    .footer span.bars {
        display: inline-block;
        margin: 0 10px;
        padding: 0 10px;
        border: none;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;

    }
    .footer > .footer-content > p {
        display: inline-block;
        width: 100%;
    }