.container {
    display: inline-block;
    width: 100%;
}

.bg-blue {
    background-color: #03A9F5;
}

/****************
* Hero
****************/
.hero {
    display: inline-block;
    width: 600px;
    margin: 60px calc((100% - 600px) / 2) 30px;
    text-align: center;
}
    .container.bg-img {
        min-height: 100vh;
        background-image: url(../img/banner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
        background-attachment: fixed;
    }
    .hero > img {
        display: inline-block;
        margin-bottom: 40px;
    }
    .hero > h1 {
        display: inline-block;
        width: 100%;
        font-size: 75px;
        line-height: 80px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    .hero > p {
        display: inline-block;
        color: #000;
        width: 100%;
        margin-bottom: 40px;
        font-size: 23px;
        line-height: 28px;
    }
    .hero > .clock {
        display: inline-block;
        width: 100%;
        margin-bottom: 40px;
    }
    .hero > form {
        display: inline-block;
        width: 90%;
        margin: 0 5% 20px;
    }
    .hero > .mouse {
        display: inline-block;
    }
        .hero > form > input {
            background-color: transparent;
            color: fff;
            border-bottom-color: fff;
            outline: none;
        }
            .hero > form > input::placeholder {
                color: #fff;
            }

@media (max-width: 700px) {
    .hero {
        width: 100%;
        margin: 60px 0 30px;
        padding: 0 20px;
    }
}
@media (max-width: 550px) {
    .clock > .time {
        width: 50%;
    }
}
/****************
* Main Content
****************/
.content {
    display: inline-block;
    width: 1100px;
    margin: 60px calc((100% - 1100px) / 2);
}
    .content > .left {
        display: inline-block;
        width: 50%;
        float: left;

    }
    .progress-bar-value {
        background-color: #00A0F4;
    }
    .content > .right {
        display: inline-block;
        width: 40%;
        float: right;
    }
    .content h3 {
        display: inline-block;
        width: 100%;
        text-transform: uppercase;
        margin-bottom: 30px;
    }
    .content p {
        display: inline-block;
        width: 100%;
        margin-bottom: 30px;
        font-size: 16px;
        line-height: 22px;
    }
    .content p > a {
        color: red;
        text-decoration: none;
    }
    .content form > .btn {
        float: right;
    }

@media (max-width: 1200px) {
    .content {
        width: 900px;
        margin: 60px calc( (100% - 900px) / 2 );
    }
}
@media (max-width: 1000px) {
    .content {
        width: 700px;
        margin: 60px calc( (100% - 700px) / 2 );
    }
        .two-in-row {
            width: 100%;
        }
        .two-in-row:last-of-type {
            margin-left: 0;
        }
}
@media (max-width: 800px) {
    .content {
        width: 500px;
        margin: 60px calc( (100% - 500px) / 2 );
    }
        .content > .left {
            width: 100%;
            margin-bottom: 60px;
        }
        .content > .right {
            width: 100%;
        }
}
@media (max-width: 600px) {
    .content {
        width: 100%;
        margin: 60px 0;
        padding: 0 20px;
    }
}

/****************
* Footer
****************/
.footer {
    display: inline-block;
    width: 1100px;
    margin: 30px calc((100% - 1100px) / 2);
    text-align: center;
    position: relative;
}
    .footer > .btn {
        position: absolute;
        top: -60px;
        right: -25px;
    }
    .footer > .socials {
        display: inline-block;
        width: 100%;
        padding-bottom: 20px;
        border-bottom: 1px solid #1FB2F5;
    
    }
        .footer > .socials > a {
            display: inline-block;
            width: 40px;
            color: #FFF;
            font-size: 20px;
            line-height: 20px;
            text-decoration: none;
            padding: 10px;
        }
        .footer > .socials > a:hover {
            background-color: #FFF;
            color: #03A9F4;
            border-radius: 50%;
        }

    .footer > .footer-content {
        display: inline-block;
        width: 600px;
        margin: 30px calc((100% - 600px) / 2) 0;
        color: #fffa;
        font-size: 16px;
        line-height: 32px;
    }
    .footer > .footer-content a {
        display: inline-block;
        color: #fff;
    }
    .footer > .footer-content > img {
        display: inline-block;
        margin-bottom: 10px;
    }
    .footer > .footer-content > div {
        display: inline-block;
        width: 100%;
        line-height: 16px;
    }
    .footer span {
        display: inline-block;
    }
    .footer span.bars {
        display: inline-block;
        margin: 0 10px;
        padding: 0 10px;
        border: none;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;

    }
    .footer > .footer-content > p {
        display: inline-block;
        width: 100%;
    }

@media (max-width: 1200px) {
    .footer {
        width: 900px;
        margin: 30px calc( (100% - 900px) / 2 );
    }
}
@media (max-width: 1000px) {
    .footer {
        width: 700px;
        margin: 30px calc( (100% - 700px) / 2 );
    }
}
@media (max-width: 800px) {
    .footer {
        width: 500px;
        margin: 30px calc( (100% - 500px) / 2 );
    }
    .footer > .btn {
        display: none;
    }
}
@media (max-width: 700px) {
    .footer > .footer-content {
        width: 100%;
        margin: 30px 0 0;
        padding: 0 20px;
    }
}
@media (max-width: 600px) {
    .footer {
        width: 100%;
        margin: 30px 0;
        padding: 0 20px;
    }
} 